a,
:visited {
    color: inherit;
}

a:hover {
    /*horizontal shadow /vertical shadow /blur*/
    text-shadow: 0 0 3px rgba(144, 160, 66, 0.5);
}

body {
    font-family: 'Red Hat Mono', monospace;
    color: #0f0f0d;
    background-color: #fbf0ec;
}

.sitequote {
    display: flex;
    align-self: center;
    justify-content: center;
    font-style: italic;
}
.container {
    display: grid;
    grid-template-areas: "first first first first first"
        "main main main sd sd"
        "ft ft ft ft ft";
    grid-gap: 20px;
    
}

header {
    margin: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #f07548;
    font-size: 20px;
    font-family: 'Fredericka the Great', cursive;
}
header h1{
    text-align: center;
}
.banner {
    margin-top: 0;
    max-height: 100px;
    width: 90%;
    text-align: center;

}

.content {
    grid-area: main;
    margin: 5px;
}

.sidebar {
    grid-area: sd;
    border: 1px solid #ea612f;
    padding: 20px;
    padding-top: 30px;
    /*top right bottom left+*/
    margin: 5px 5px 5px 0;
    height: fit-content;
    width: 300px;
    background-color: rgba(233, 241, 193, 0.5);
}

.sidebar h2,
h3 {
    color: #56a661;
}

.photo {
    /*centers the avatar*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.socials {
    text-align: center;
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}

.post,
p {
    font-size: 18px;
    color: #0f0f0d;
}

.post h5 {
    margin-bottom: 0px;
    color: #56a661;

}

.post h4 {
    font-size: 20px;
    color: #56a661;
    padding-top: 3px;
}

.post h2 {
    color: #f07548;
    margin-top: 0px;
}

.preview {
    float: left;
    width: 400px;
    height: 200px;
    margin-right: 20px;
}

footer {
    grid-area: ft;
    position: absolute;
    height: 2em;
    width: 100%;
    margin: 0;
    background-color: rgba(233, 241, 193, 0.5);

}

@media(max-width:700px) {
    html {
        font-size: 42%;
    }

    #preview,
    .preview,
    .banner {
        max-height: 75%;
        max-width: 90%;
    }

    .post {
        grid-template-areas: "head head head"
            "text1 text1 text1"
            "img1 ... img2"
            "text2 text2 text2" !important;
        grid-auto-rows: minmax(50px, auto);
    }

    .postplants {
        height: 25%;
    }

    figure {
        padding: 2px;
        margin: 0;
    }

    header {
        background-color: #fcfcd2;
        width: 100%;
        margin: 0;
        position: fixed;
        z-index: 2;
        top: 0;
    }

    header,
    h1 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .banner {
        height: 50px;
        width:75%;
        text-align: left;
    }

    .content {
        padding-top: 33%;
        position: relative;
        z-index: 1;
    }

    .container {
        margin: 0;
    /*adding to let sidebar stay--start--*/
        grid-template-areas: "first first first first first"
            "main main  main sd sd"
            "main main main sd sd"
            "main main main main main"
            "ft ft ft ft ft";  
    }
    #avatar {
        width: 75px;
        height: 75px;
        border-radius:50%;
    }
    .sidebar {
        margin-top:125px;
        max-width: 200px;
       /* /*make sidebar disappear*/
     /*   display: none*/
    }
    /*adding to let sidebar stay--end--*/

    body {
        background-image: none;
        background-color: #fcfcd2;
    }
}

@media(min-width:701px) {
    /*only show lines on small screen*/
    .container hr {
        display: none;
    }
}
@media(max-width:500px){
    .content{
        margin-top:50px;
    }
}
@media(max-width:300px)
{
    header{
        width: 95%;
    }
} 